/* universal code */
*{
    padding: 0;
    margin: 1px;
    background-color: azure;
}

.navber{
    display: flex;
    justify-content: space-around;   
}
.button{
    background-color: white;
    border: 1px solid;
    color: green;
    text-align: center;
    padding: 5px;
    border-radius: 15%;   
}

