/* universal code */
*{
    padding: 0;
    margin: 8px;
    
}

main{
    width: 100%;
    background-color: rgb(250, 243, 243);

}
.navber{
    display: flex;
    justify-content: space-around;   
}
.button{
    background-color: white;
    border: 1px solid;
    color: green;
    text-align: center;
    padding: 5px;
    border-radius: 6%;   
}
.button2{
    background-color: green;
    color: white;
    border: 2px;
    padding: 5px 3px;
    border-radius: 5%;

}
/* banner styless */

.banner{
    display :flex ;
    justify-content: space-between;
    border: none ;
    height: 300px;
    width: 100% ;
    background-color: rgb(198, 228,214);
    border-radius: 2%;
}
.banpicture{
    height: 230px;
    max-width: 250px;

}
.banner-content{
    max-width: 220px;
    margin-top: 80px;
}
/* vision of future design */
.parent{
    display: flex;
    margin: 2px;
    gap: 20px;
    border: none;
    border-radius: 2%;
    background-color: rgb(237, 245, 245);
}
.ino{
    gap: 10px;
    border : 1px solid ;
border-radius: 5%;

} 
/* ending of first section */

.section2{
    margin-top: 20px;
    
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.box1{
text-align: justify;
width: 410px;
height: 325px;

padding: 20px;
background-color: #C6E4D6;
border-radius: 5%;

}

.box2{
    text-align: justify;
    width: 410px;
    height: 325px;
   
    padding: 20px;
    background-color: #cddefc;
    border-radius: 5%; 
}
.box3{
    text-align: justify;
width: 410px;
height: 325px;

padding: 20px;
background-color: #f8eccc;
border-radius: 5%;
}
.btn1{
    background-color:#09A15C ;
    border: 0px;
    border-radius: 9%;
    padding: 20px 11px;
}
.btn2{
    background-color: #84B1FC;
    border: 0px;
    border-radius: 9%;
    padding: 20px 11px;
}
.btn3{
    background-color: #FFC239;
    border: 0px;
    border-radius: 9%;
    padding: 20px 11px;
}  

/* recent new section */
.newsbox1{
    display: flex;
    width: 1580px;
    height: 320px;
    border: 1px solid;
    text-align: start;
    border-radius: 4%;
    border: none;
    background-color: white;
}
.newsboxright{
    justify-content: start;
    width: 1900px;  
}
.part3{
    border-radius: 10%;
    width: 1900px;  
    height: 402px;
    border-radius: 22%;
}
.btnfornews{
    background-color: #006A50;
    border-radius: 8%;

    color: white;
    width: 139px;
    height: 48px;
}




/* end of  task 3 */
.today{
    padding: 25px;
    
    display: flex;
    gap: 30px; 
    text-align: center;
    justify-items: center;
    justify-content: space-between;
    
    
    
}
.donate{
    background-color: #FFFFFF;
    width: 230px;

border: none  ;
padding:40px;
font-size: 40px;
border-radius: 5%;
text-align: center;


}
.dntnow{
    text-align: center;
    justify-content: center;
}
.donateinput{
    width: 2240px;
    height: 0px;
    text-align: center;
    padding: 40px;
    margin-left: 40px ;
    margin-bottom: 40px;
    display: block;
    font-size: 50px;
}
.btnfordn{
    background-color: #006A50;
      margin: auto ;
    display: block;
    height: 100px;
    width: 200px;
    color: #FFFFFF;
    text-size-adjust: 20px;
    margin-bottom: 20px;
    
    

}
.subbtn{
    background-color: #006A50;
    color: white;
    padding: 10px;
    border-radius: 5%;
    width: 82px;
    height: 55px;
    
    margin-left: -12px;
    border: none;
    text-align: center;
    justify-content: center;
    
}
.emailtyp{
width: 600px;
height: 55px;
border-radius: 5%;
border: none;

}
.newsletter{
    background-color: #C6E4D6;
    justify-items: center;
    margin-top: 40px;
    border-radius: 2%;
    margin-bottom: 20px;
}
#newssub
{
    margin-top: 50px;
}

